@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');

body {
  font-family: 'Inconsolata', monospace;
}

span {
  font-size: 35px;
}

img {
  height: 60px;
  width: 60px;
}

.link {
  font-size: 20px;
}

h1 {
  margin-top: 20px;
}

h4 {
  color: #FFCB05;
}

.btn-submit {
  background-color: black;
  border-color: black;
  border-radius: 50%;
  height: 70px;
}

.btn-submit:hover {
  background-color: rgb(230, 0, 0);
  border-color: rgb(230, 0, 0);
  color: white;
}

.pokemon {
  background-color: white;
  border: 15px solid rgb(230, 0, 0);
  border-radius: 30px;
  box-shadow: 5px 10px 10px 5px gray;
  color: white;
  height: 700px;
  margin-top: 20px;
  width: 550px;
  margin-left: 300px;
}

.pokemon-name {
  color: #FFCB05;
  margin-right: -50px;
  padding-top: 20px;
}

.div-image {
  border-radius: 20px;
  height: 200px;
}

.pika {
  height: 300px;
  margin-top: -10px;
  margin-left: 40px;
  width: 300px;
}

.screen {
  background-color: black;
  border-radius: 20px;
  height: 200px;
  margin-top: 150px;
  margin-left: -40px;
  width: 400px;
}

.pokemon-info {
  animation: fade-in .9s;
  margin-top: -20px;
  margin-left: 20px;
}

@keyframes fade-in {
  0% {opacity:0;}
  100% {opacity:1;}
}

.btn-update {
  border-radius: 30px;
  height: 40px;
  margin-top: 20px;
  margin-left: 20px;
}

.btn-delete {
  border-radius: 30px;
  height: 40px;
  margin-top: 20px;
  margin-left: 20px;
}

.btn-back {
  border-radius: 30px;
  height: 40px;
  margin-top: 20px;
  margin-left: 20px;
  width: 70px;
}


.pokeball {
  margin-top: 150px;
  margin-left: 340px;
}

.top-half-circle{
  background-color: rgb(230, 0, 0);
  border-top-right-radius: 50% 100%;
  border-top-left-radius: 50% 100%;
  border: 20px solid #000;
  border-bottom: 10px solid;
  height: 200px;
  width: 400px;
}

.middle-circle {
  animation: blink .8s infinite;
  background-color: whitesmoke;
  border: 15px solid #000;
  border-radius: 100%;
  height: 100px;
  margin-top: -45px;
  margin-left: 150px;
  position: absolute;
  width: 100px;
}

@keyframes blink {
	50% {background-color: rgb(230, 0, 0)}
}

.bottom-half-circle {
  // background-color: whitesmoke;
  box-sizing: border-box;
  border-bottom-right-radius: 50% 100%;
  border-bottom-left-radius: 50% 100%;
  border: 20px solid #000;
  border-top: 10px solid;
  height: 200px;
  width: 400px;
}
